body {
  background-color: $background-color;
}

.footer-links-list {
  margin-bottom: 0;
  padding: $spacing-unit 0 10px;
}
.footer-link {
  display: inline-block;
  &:not(:first-child) {
    margin-left: 5px;
  }
}

.social-media-list {
  text-align: center;
  padding: $spacing-unit 0;
}

.letter-links {
  text-align: center;
}

.page-link, .social-media-link {
  text-transform: uppercase;
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: $base-font-size;
  line-height: 56px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
    text-transform: uppercase;
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-links-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  text-align: center;
  margin-left: 0;
  list-style: none;
  @include media-query($on-palm) {
    padding-top: 100px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  text-transform: uppercase;
  font-size: 37px;
  @include media-query($on-palm) {
    font-size: 14px;
  }
}

.post-link-unpublished {
  @extend .post-link;
  color: $grey-color;
}
