<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main id="page-wrap">
      {% include header.html %}

      <div class="page-content">
        <div class="wrapper-fixed-width">
          {{ content }}
        </div>
      </div>
      <div class="footer-push"></div>
    </main>

    {% include footer.html %}
    <script>
    function verticallyCenter(e) {
      var h = document.documentElement.clientHeight - 120;
      var d = h - e.clientHeight;
      if (d > 0) {
        e.style.marginTop = d/2 + "px";
      }
    };
    window.onresize = verticallyCenter.bind(null, document.querySelector('.wrapper-fixed-width'));
    window.onresize();
    </script>
  </body>

</html>
