<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main id="page-wrap">
      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      <div class="footer-push"></div>
    </main>

    {% include footer.html %}

  <script>
    function verticallyCenter(e) {
      var h = document.documentElement.clientHeight - 112;
      var d = h - e.clientHeight;
      if (d > 0) {
        e.style.marginTop = d/2 + "px";
      }
    };
    function resize() {
      var e = document.querySelector('.letter-image img');
      e.style.maxHeight = document.documentElement.clientHeight - 226 + "px";
      e.style.height = "auto";
      e.style.width = "auto";
      verticallyCenter(document.querySelector('.page-content'));
    };
    window.onresize = resize;
    resize();
  </script>
  </body>

</html>
